<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="controlled_qube">
  <!-- Hent inn qube modellen -->
  <xacro:include filename="$(find qube_description)/urdf/qube.macro.xacro" />
  <xacro:qube/>
  
  <!-- Link Qube til scene -->
  <link name="world"/>
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base"/>
  </joint>
  
  <!-- driver argumenter -->
  <xacro:arg name="baud_rate" default="115200"/>
  <xacro:arg name="device"    default="/dev/ttyACM0"/>
  <xacro:arg name="simulation" default="false"/>
  
  <!-- Hent inn qube_driver_ros2_control -->
  <xacro:include filename="$(find qube_driver)/ros2_control/qube_driver.ros2_control.xacro"/>
  <xacro:qube_driver_ros2_control
    name="qube_driver"
    prefix=""
    baud_rate="$(arg baud_rate)"
    device="$(arg device)"
    simulation="$(arg simulation)"/>
</robot>


